[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:suggestion

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
